html, body {
  height: 100%;
}

body > div {
 height: 100%;
}

#main-map {
    width:100%;
    height:99%;
}

.middlebox 
{
    position: absolute;
    top: 300px;
    width: 300px;
    left: 50%;    /* move the left edge to the center … */
    margin-left: -150px; /* … and move it to the left half the box’ width. */
    z-index: 9999;   /* Try to get it on top. */
}

.middlebox table
{
  background-color: white;
  text-align: center;
}

.top_right_float
{
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 9999;   /* Try to get it on top. */
}